In [1]:
import pandas as pd

In [35]:
sim_data = pd.read_csv('sim_log.txt')
real_data =  pd.read_csv('real_log.txt')
compare_data = real_data.join(sim_data)

In [36]:
compare_data.head()

   real_JobID  sim_JobID
0      156508     156508
1      156509     156509
2      156517     156517
3      156518     156518
4      156525     156525

In [37]:
compare_data['test'] = compare_data['sim_JobID'] != compare_data['real_JobID']

In [38]:
compare_data['test'].sum()

0